@page "/"
@inject WeatherForecastService ForecastService

<SmDataGrid Data="forecasts1"
            FilterMode=DataGridFilterMode.FilterRow
            Height="450px" ShowDetailRow=true
            EditMode=GridEditMode.Popup
            DataNavigationMode=DataGridNavigationMode.Paging
            SelectionMode=GridSelectionMode.SingleSelectedDataRow
            @bind-SingleSelectedDataRow=selectedRow>
    <Columns>
        <SmDataGridColumn Title="Date1" Field="@nameof(WeatherForecast.Date)" Width="100px">
            <CellShowTemplate>
                @{
                    WeatherForecast data = context as WeatherForecast;
                    <div>Template @data.Summary</div>
                }
            </CellShowTemplate>
        </SmDataGridColumn>
        <SmDataGridColumn Title="TemperatureC" Field="@nameof(WeatherForecast.TemperatureC)" Width="200px" />
        <SmDataGridColumn Title="TemperatureF" Field="@nameof(WeatherForecast.TemperatureF)" Width="200px" />
        <SmDataGridColumn Title="Summary" Field="@nameof(WeatherForecast.Summary)" Width="200px" />
        <SmDataGridCommandColumn EditButtonVisible=true NewButtonVisible=true Width="250px" />
    </Columns>

</SmDataGrid>

@code {
    private List<WeatherForecast> forecasts1;
    SmDataGrid<WeatherForecast> grid;

    WeatherForecast selectedRow = null;
    IEnumerable<WeatherForecast> selectedRows = null;

    protected override async Task OnInitializedAsync()
    {
        forecasts1 = (await ForecastService.GetForecastAsync(DateTime.Now)).ToList();
        //selectedRow = forecasts1.First();
    }

    async Task loadData()
    {
        forecasts1 = (await ForecastService.GetForecastAsync(DateTime.Now)).ToList();
    }
}