@page "/counter"




<h1>Counter</h1>

<p>Current count: @currentCount</p>

<h5>Dateinput</h5>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<div class="row">
    <Samovar.Grid.Prototypes.Components.DateInput @bind-Date="@dt" />
</div>
<div class="row">@dt</div>

<h5>Nullable Dateinput 1</h5>
<button class="btn btn-primary" @onclick="SetDateNullable_1">SetDateNullable 1</button>
<div class="row">
    <Samovar.Grid.Prototypes.Components.DateNullableInput @bind-Date="@dtNull_1" />
</div>
<div class="row">@dtNull_1?.ToString()</div>

<h5>Nullable Dateinput 2</h5>
<button class="btn btn-primary" @onclick="SetDateNullable_2">SetDateNullable 2</button>
<div class="row">
    <Samovar.Grid.Prototypes.Components.DateNullableInput @bind-Date="@dtNull_2" />
</div>
<div class="row">@dtNull_2?.ToString()</div>

<h5>Search input</h5>
<div class="row">
    <Samovar.Grid.Prototypes.Components.SearchInput />
</div>
@code {

    int currentCount = 0;
    DateTime dt = DateTime.Now;

    DateTime? dtNull_1 = null;
    DateTime? dtNull_2 = null;

    void IncrementCount()
    {
        currentCount++;
    }

    void SetDateNullable_1()
    {
        dtNull_1 = new DateTime(2020, 11, 12);
    }

    void SetDateNullable_2()
    {
        dtNull_2 = DateTime.Now;
    }
}
