@using System.Globalization
@using Samovar.Blazor;
@typeparam T
@inherits SmDesignComponentBase

@switch (_dataSourceState)
{
    case DataSourceState.NoData:
        <div class="s-flex s-align-content-center s-justify-content-center" style="height:100%;background:lightgray;">
            <div class="s-align-self-center">no data to show</div>
        </div>
        break;
    case DataSourceState.Loading:
    case DataSourceState.Idle:
    default:
        <div class="@(_dataSourceState == DataSourceState.Loading ? "s-flex s-align-content-center s-justify-content-center s-visible" : "s-hidden")" style="height:100%;">
            <div class="spinner-border text-muted s-align-self-center"></div>
        </div>
        <div class="@(_dataSourceState == DataSourceState.Idle ? "s-visible" : "s-hidden")">
            <table id="@ConstantService.InnerGridBodyTableId" class="@LayoutService.TableTagClass.Value" style="table-layout:fixed;@(LayoutService.MinGridWidth.Value > 0 ? "min-width:" + LayoutService.MinGridWidth.Value.ToString(CultureInfo.InvariantCulture) + "px;" : "")">
                <DataGridHiddenHeader />
                <tbody @ref="GridBodyRef" tabindex="0" id="@ConstantService.GridBodyId">
                    @if (View != null)
                    {
                        @foreach (var rowModel in View)
                        {
                            <SmDataGridRow RowModel="rowModel" />
                        }
                    }
                </tbody>
            </table>
        </div>
        break;
}
