@inherits SmDesignComponentBase

@* <tr id="@RowModel.HtmlElementId" style="cursor:pointer;"> *@
<tr style=@Style>
    @foreach (IColumnModel colModel in ColumnService.AllColumnModels)
    {
        switch (colModel.ColumnType)
        {
            case ColumnType.Data:
                <td style="text-overflow:ellipsis !important;overflow: hidden !important;white-space: nowrap !important;padding-right:0;">
                    <div class="s-flex" style="margin:0px;padding:0px;">
                        <div style="flex-grow:1;" class="ml-1 mr-0"></div>
                        <div style="cursor:ew-resize;float:right;width:3px"></div>
                    </div>
                </td>
                break;
            case ColumnType.Command:
                <td style="text-overflow:ellipsis !important;overflow: hidden !important;white-space: nowrap !important;">
                    <div class="s-flex s-flex-row s-align-content-center s-justify-content-center">
                        @if (((ICommandColumnModel)colModel).EditButtonVisible.Value)
                        {
                            <button style="margin-left:2px;margin-right:2px;" class="btn btn-primary btn-sm">edit</button>
                        }

                        @if (((ICommandColumnModel)colModel).DeleteButtonVisible.Value)
                        {
                            <button style="margin-left:2px;margin-right:2px;" class="btn btn-danger btn-sm" >delete</button>
                        }
                    </div>
                </td>
                break;
        }
    }
@*     <th style="@(ColumnService.EmptyColumnModel.VisibleWidthStyle)" id="@(ColumnService.EmptyColumnModel.EmptyDataColumnCellId)">
        <div style="margin:0px;padding:0px;overflow:hidden;display:block;">&nbsp;</div>
    </th> *@
</tr>
@* @if (TemplateService.DetailRowTemplate.Value != null && RowDetailService.ExpandedRowDetails.Value.Contains(RowModel.DataItem))
{
    <tr>
        <td style="text-overflow:ellipsis !important;overflow: hidden !important;white-space: nowrap !important;">
            <div class="s-flex s-flex-row s-align-content-center s-justify-content-center">
            </div>
        </td>
        <td colspan="@ColumnService.AllColumnModels.Where(c => c.ColumnType == DataGridColumnType.Data || c.ColumnType == DataGridColumnType.Command).Count()">
            @TemplateService.DetailRowTemplate.Value(RowModel.DataItem)
        </td>
    </tr>
} *@