@page "/edit-template"

@using Samovar.Grid.Server.Test.Data
@using System.ComponentModel.DataAnnotations
@using System

@inject WeatherForecastService ForecastService

<h1>Insert / Edit Templates</h1>

<div class="form-group row align-items-center mb-3">
    <label for="gridEditMode" class="form-label col-1">Grid edit mode</label>
    <div class="col-1">
        <select id="gridEditMode" class="col-10 form-select form-select-lg" @bind=gridEditMode>
            <option value=@GridEditMode.None>None</option>
            <option value=@GridEditMode.Form>Form</option>
            <option value=@GridEditMode.Popup>Popup</option>
        </select>
    </div>
</div>

<SmGrid @ref=grid
        Data="forecasts"
        FilterMode=GridFilterMode.FilterRow
        Height="600px"
        RowEditBegin="@((WeatherForecast data) => RowEditBeginHandler(data))"
        RowInsertBegin=@RowInsertBeginHandler
        EditMode=@gridEditMode
        DataNavigationMode=NavigationMode.Paging
        SelectionMode=RowSelectionMode.Multiple>
    <Columns>
        <CommandColumn EditButtonVisible=true NewButtonVisible=true DeleteButtonVisible=false Width="150px" />
        <Column Title="Summary" Field="@nameof(WeatherForecast.Summary)">
            <CellShowTemplate>
                @{
                    WeatherForecast data = context as WeatherForecast;
                    <div style="white-space:break-spaces">@($"Summary: {data!.Summary}")</div>
                }
            </CellShowTemplate>
        </Column>
        <Column Title="Date" Field="@nameof(WeatherForecast.Date)" />
        <Column Title="TemperatureC" Field="@nameof(WeatherForecast.TemperatureC)" />
        <Column Title="TemperatureF" Field="@nameof(WeatherForecast.TemperatureF)" />
    </Columns>
    <EditFormTemplate>
        <EditForm Model="@EditContext" Context="EditFormContext" OnValidSubmit=HandleValidCustomEditSubmit>
            <DataAnnotationsValidator />
            <div class="form-group row mb-2">
                <label class="col-2 col-form-label" for="temperatureC">Temp.C</label>
                <div class="col-10">
                    <InputNumber class="form-control" id="temperatureC" TValue="int?" @bind-Value="EditContext.TemperatureC" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-2 col-form-label" for="summary">Summary</label>
                <div class="col-10">
                    <InputText class="form-control" id="summary" @bind-Value="EditContext.Summary" />
                </div>
            </div>
            <div class="row mb-2">
                <ValidationSummary />
            </div>
            <div class="row">
                <div class="col s-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary mx-1">update</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" @onclick="HandleCancelCustomEdit">cancel</button>
                </div>
            </div>
        </EditForm>
    </EditFormTemplate>
    <InsertFormTemplate>
        <EditForm Model="@InsertContext" Context="EditFormContext" OnValidSubmit=HandleValidInsertingSubmit>

            <DataAnnotationsValidator />
            <div class="form-group row mb-2">
                <label class="col-2 col-form-label" for="temperatureC">Temp.C</label>
                <div class="col-10">
                    <InputNumber class="form-control" id="temperatureC" TValue="int?" @bind-Value="InsertContext.TemperatureC" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-2 col-form-label" for="summary">Summary</label>
                <div class="col-10">
                    <InputText class="form-control" id="summary" @bind-Value="InsertContext.Summary" />
                </div>
            </div>
            <div class="form-row">
                <ValidationSummary />
            </div>
            <div class="row">
                <div class="col s-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary mx-1">add</button>
                    <button type="button" class="btn btn-outline-secondary mx-1" @onclick="OnCancelInsertingButtonClick">cancel</button>
                </div>
            </div>
        </EditForm>
    </InsertFormTemplate>
</SmGrid>


@code {
    private List<WeatherForecast> forecasts;
    FormEditContext EditContext = null;
    FormInsertContext InsertContext = null;
    SmGrid<WeatherForecast> grid;
    GridEditMode gridEditMode = GridEditMode.Form;

    protected override async Task OnInitializedAsync()
    {
        forecasts = (await ForecastService.GetForecastAsync(DateTime.Now)).ToList();
    }

    void RowEditBeginHandler(WeatherForecast item)
    {
        EditContext = new FormEditContext(item);
        // var context = new Microsoft.AspNetCore.Components.Forms.EditContext(item);
        // context.
    }

    void RowInsertBeginHandler()
    {
        InsertContext = new FormInsertContext();
    }

    async Task HandleValidCustomEditSubmit()
    {
        EditContext.DataItem.TemperatureC = EditContext.TemperatureC;
        EditContext.DataItem.Summary = EditContext.Summary;
        await grid.CommitCustomRowEdit(EditContext.DataItem);
    }

    async Task HandleValidInsertingSubmit()
    {
        var newItem = new WeatherForecast
            {
                Summary = InsertContext.Summary,
                Date = DateTime.Now,
                TemperatureC = InsertContext.TemperatureC
            };

        forecasts = ((new WeatherForecast[] { newItem }).Concat(forecasts)).ToList();
        await grid.CancelRowInsert();
        StateHasChanged();
    }

    async Task HandleCancelCustomEdit()
    {
        await grid.CancelCustomRowEdit(EditContext.DataItem);
        EditContext = null;
    }

    async Task OnCancelInsertingButtonClick()
    {
        await grid.CancelRowInsert();
        EditContext = null;
    }

    class FormEditContext
    {
        public FormEditContext(WeatherForecast dataItem)
        {
            DataItem = dataItem;
            TemperatureC = dataItem.TemperatureC;
            Summary = dataItem.Summary;
        }

        public WeatherForecast DataItem { get; set; }

        [Required]
        [StringLength(maximumLength: 32, MinimumLength = 4, ErrorMessage = "The description should be 4 to 32 characters.")]
        public string Summary { get; set; }

        public int? TemperatureC { get; set; }
    }

    internal class FormInsertContext
    {
        internal FormInsertContext()
        {
            Summary = "[init summary value}";
        }

        [Required]
        public int? TemperatureC { get; set; }

        [Required]
        [StringLength(maximumLength: 32, MinimumLength = 4, ErrorMessage = "The description should be 4 to 32 characters.")]
        public string Summary { get; set; }
    }
}
