@using  System.Globalization
@typeparam TItem

<div class="s-flex s-flex-row">
    <button class="@DataGrid.FilterToggleButtonClass" @onclick="ShowMenu" id="@DropdownMenuButtonId" style="padding-right:3px;padding-left:3px;">
        @switch (mode)
        {
            case 0:
                @("*a*")
                break;
            case 1:
                @("=")
                break;
            case 2:
                @("a*")
                break;
            case 3:
                @("*a")
                break;
            default:
                break;
        }
    </button>
    <input type="text" style="min-width:10px;" class="flex-grow-1" @bind-value="InnerValue" @bind-value:event="onchange" />
</div>