@using System.Globalization
@typeparam TItem

<div class="s-flex s-flex-row">
    <button class="@(DataGrid.FilterToggleButtonClass)" @onclick="ShowMenu" id="@DropdownMenuButtonId" style="padding-right:3px;padding-left:3px;">
        @switch (mode)
        {
            case 0:
                @("=")
                break;
            case 1:
                @(">")
                break;
            case 2:
                @(">=")
                break;
            case 3:
                @("<")
                break;
            case 4:
                @("<=")
                break;
            default:
                break;
        }
    </button>
    <input style="min-width:10px;" type="date" class="flex-grow-1" @bind-value="InnerValue" @bind-value:event="onchange" @bind-value:format="yyyy-MM-dd" />
    @*<button class="btn btn-secondary px-2" @onclick="ValueReset">x</button>*@
</div>