@inherits SamovarGridBase
@using System.Globalization

@typeparam TItem
<div>@srv.GetHashCode().ToString()</div>
<!--button @onclick="@(() => Common.Starter.MichelService.MyValue = "hihihih")">click mich/-->
<!--div>@Common.Starter.MichelService.MyValue/-->
<CascadingValue Value=this Name="datagrid-container" >
    <CascadingValue Value=this.GridColumnService Name="datagrid-gridcolumnservice">
        @GridColumns
        <div @ref="GridOuterRef" class="s-grid-container" style="@OuterStyle" id="@outerGridId" @onkeydown="Js_GridBody_KeyDown" @onkeydown:stopPropagation="true">
            <div style="display:flex;flex-direction:column;">

                @*<GridCommandPanel TItem=TItem />*@

                @if (!Headless)
                {
                    @if (ActualScrollbarWidth > 0)
                    {
                        <div style="position:relative;display:flex;flex-direction:row;">
                            <div style="overflow:hidden;position:relative;flex-grow:1;" id="@gridHeaderContainerId">
                                <div style="position:absolute;" class="s-noselect">
                                    <GridHeader TItem=TItem />
                                </div>
                            </div>

                            <div style="width:@(ActualScrollbarWidth.ToString(CultureInfo.InvariantCulture)+"px;")">
                                <GridHeaderScrollbar TItem=TItem />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="position:relative;overflow:hidden;" id="@gridHeaderContainerId">
                            <GridHeader TItem=TItem />
                        </div>
                    }
                }
                @if (rx.GridModelService.FilterMode == GridFilterMode.FilterRow)
                {
                    @if (ActualScrollbarWidth > 0)
                    {
                        <div style="position:relative;display:flex;flex-direction:row;">
                            <div style="position:relative;overflow:hidden;flex-grow:1;" id="@gridFilterContainerId">
                                <div style="position:absolute;">
                                    <GridFilter TItem=TItem />
                                </div>
                            </div>

                            <div style="width:@(ActualScrollbarWidth.ToString(CultureInfo.InvariantCulture) + "px;")">
                                <GridFilterHeaderScrollbar TItem=TItem />
                            </div>

                        </div>
                    }
                    else
                    {
                        <div style="position:relative;overflow:hidden;" id="@gridFilterContainerId">
                            <GridFilter TItem=TItem />
                        </div>
                    }
                }
            </div>

            <div id="@rx.GridModelService.innerGridId" class="s-grid-content" @ref="GridInnerRef" style="overflow:auto;">
                @if (Data.Count() > 0 && (GuiStateService.Loading || GuiStateService.Filtering))
                {
                    <GridDataLoadingSpinner />
                }
                else
                {
                    <div style="position:relative;">
                        <div style="position:absolute;" id="@GridBodyContainerId">
                            <table class="@TableTagClass" style="table-layout:fixed;@(MinGridWidth > 0 ? "min-width:" + MinGridWidth.ToString(CultureInfo.InvariantCulture) + "px;" : "")">
                                <GridHiddenHeader TItem=TItem />
                                <GridBody TItem=TItem />
                            </table>
                        </div>
                    </div>
                }
            </div>

            @if (GridSummaryTemplate != null)
            {
                @GridSummaryTemplate
            }

            @if (Data.Count() > 0)
            {
                <GridPagingFooter TItem=TItem />
            }

        </div>
        @if (rx.GridModelService.FilterMode == GridFilterMode.FilterRow)
        {
            <GridFilterMenuManager TItem=TItem />
        }
    </CascadingValue>
</CascadingValue>
