@page "/_005_filter"
@using System.Linq

@inject WeatherForecastService ForecastService

<h1>Filter</h1>

<SamovarGrid Data="@forecasts"
             OrderFieldByDefault="@nameof(WeatherForecast.TemperatureC)"
             OrderDesc="true"
             PageSize="25"
             SelectedRowClass="bg-warning" 
             FilterMode="@GridFilterMode.FilterRow"
             AfterFilter="AfterFilter">
    <GridColumns>
        <GridCommandColumn Width="110px" />
        <GridColumn Title="Pos" Field="@nameof(WeatherForecast.Position)" />
        <GridColumn Title="Date" Field="@nameof(WeatherForecast.Date)" />
        <GridColumn Title="TemperatureC" Field="@nameof(WeatherForecast.TemperatureC)" />
        <GridColumn Title="TemperatureF" Field="@nameof(WeatherForecast.TemperatureF)" />
        <GridColumn Title="Summary" Field="@nameof(WeatherForecast.Summary)" />
    </GridColumns>
</SamovarGrid>

@code{
    List<WeatherForecast> forecasts = new List<WeatherForecast>();

    protected override async Task OnInitializedAsync()
    {
        forecasts = (await ForecastService.GetForecastAsync(DateTime.Now, 10000)).ToList();
    }
    
    int filtered;

    void AfterFilter(GridFilterEventArgs args) {
        filtered++;
    }
}